---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for p in site.researchPages %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>2026-09-27</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
  {%- for post in collections.recursos %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ (post.data.updated or post.data.date) | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
</urlset>
